body {
  font-family : 'Helvetica','Arial',sans-serif;
/*  color : gray;*/
}

table {
  border-collapse : collapse;
  border-spacing : 0;
}

td {
/*  border : 1px solid grey;*/
  padding : 10px;
}

tbody tr:nth-child(even) {
  background-color : rgba(0, 0, 0, 0.02)
}

tbody tr:nth-child(odd) {
  background-color : rgba(0, 0, 0, 0.04)
}

tbody tr {
  border-bottom: 1px solid #bbb;
}

thead tr {
  background-color : rgba(0, 0, 0, 0.2)
}

input {
  border : 1px solid grey;
}

input[type=number] {
  width : 40px;
}

body > * {
  margin : 10px
}

table input[type=text] {
  border-width: 0 0 1px 0;
}

table input[type=text]::placeholder {
  color: blue;
}