body {
  font-family : 'Helvetica','Arial',sans-serif;
  color : gray;
}

table {
  border-collapse : collapse;
  border-spacing : 0;
}

td {
  border : 1px solid grey;
  padding : 10px;
  background-color : ghostwhite;
}

input {
  border : 1px solid grey;
}

input[type=number] {
  width : 40px;
}

body > * {
  margin : 10px
}