body {
  font-family : 'Helvetica','Arial',sans-serif;
  color : gray;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border : 1px solid grey;
  padding: 10px;
}

input {
  border: 1px solid grey;
}

body > * {
  margin : 10px
}